h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
    color: rgb(105, 7, 18);
}

#id1{
   background-color: black;
   color: aqua;
}

.c1{
    border: 2px solid black;
    background-color: chartreuse;
    color: indigo;
}